/* HEADER */
.button li a:hover {
background-color: #2586d7;
margin-top:-2px;
padding-bottom:12px;
}

.button li a {
font-family: Arial;
font-size:11px;
text-decoration: none;
float:left;
padding: 10px;
background-color: #2175bc;
color: #fff;
}

.button li {
display: inline;
}

.button {
padding: 0;
}

/*Estilo Index----------------*/
#cuerpo_index {
  background: #fff;
  padding-bottom: 2em;
  width: 960px;
  margin: 0 auto;
}	

.logo_cuerpo {
  background: #efeee5;
  padding: 1em 0;
  margin-bottom: 2em;
  }

.logo_cuerpo h1 {
    font-weight: bold;
    font-size: 3em;
    line-height: 1em;
    padding: 0.3em 0;
    text-align: center; 
}

.logo_cuerpo h1 span {
    font-weight: normal;
    font-size: 1em;
    display: inline-block; }
   
.logo_cuerpo h1 img {
	height: 1em;
    margin-right: 0.3em;
     }
p > a{
	text-decoration: none;
	color: green;
}
h3 > a{
	text-decoration: none;
	color: green;
}

/*-----Pagina02-----*/

.primerofaq{
  width: 100%;
  height: auto;
  background-color: linen;
  font-size: 3em;
}

/*****PAGINA 3*******/



#cuerpo_pagina3 {
    background: #fff;
    padding-bottom: 2em;
}

.container_page3 {
    background: #efeee5;
    padding: 1em 0;
    margin-bottom: 2em;
}

.container_page3 h1 {
    font-weight: bold;
    font-size: 3em;
    line-height: 1em;
    padding: 0.3em 0;
}

.container_page3 h1 span {
    font-size: inherit;
    display: inline;
}

.row, #stack-list, #theme-list li, ul#docs-list {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem;
}
.listado{
    position: relative;
    width: 100%;
}

.listado h5{
    line-height: 1.2;
}

.listado a{
    color: #5e8949;
    text-decoration: none;
    line-height: inherit;

}

.listado a:hover{
    color: blue;

}



