/* HEADER */
.button {
width: 100%;
padding: 0;
background-color: #2a5d84;
height: 60px;

}

.button li {
display: inline;

}

.button li a {

font-size:12px;
text-decoration: none;
float:left;
padding: 10px;
color: #fff;
}

.button li a:hover {
background-color: #333333;

}

.titulo{
  margin: 0 auto;
  text-align: center;
  float: right;
}
.apache{
  
  float: left;
  padding-left: 130px;
  font-size: 20px;
}

.apache2{
    
  float: right;
  padding-right: 130px; 

}

/*Estilo Index----------------*/
#cuerpo_index { 
  background: #fff;
  padding-bottom: 2em;
  width: 960px;
  margin: 0 auto;
}	

.logo_cuerpo {
  background: #efeee5;
  padding: 1em 0;
  margin-bottom: 2em;
  }

.logo_cuerpo h1 {
    font-weight: bold;
    font-size: 3em;
    line-height: 1em;
    padding: 0.3em 0;
    text-align: center; 
}

.logo_cuerpo h1 span {
    font-weight: normal;
    font-size: 1em;
    display: inline-block; }
   
.logo_cuerpo h1 img {
	height: 1em;
    margin-right: 0.3em;
     }
.enlace_index a{
	text-decoration: none;
	color: green;
}
/*-----Pagina01-----*/
.coloretear{
  background-color: #efeee5;
}
.mismolol{
  background-color: #fffacd;
  border:1px solid #ff6347;
  margin-bottom: 2%;
  padding: 0.7%;
}

/*-----Pagina02-----*/

.primerofaq{
  width: 100%;
  height: auto;
  background-color: #efeee5;
  font-size: 3em;
  margin-bottom: 1.5%;
}
.primerofaq h1{
  padding: 2% 0;
}
.segundofaq h3{
  font-size: 1.4em;
  font-weight: bold;
}
.segundofaq h5{
  font-size: 1em;
  font-weight: bold;
}
.segundofaq p{
  font-size: 1em;
}

/*****PAGINA 3*******/



#cuerpo_pagina3 {
    background: #fff;
    padding-bottom: 2em;
}

.container_page3 {
    background: #efeee5;
    padding: 1em 0;
    margin-bottom: 2em;
}

.container_page3 h1 {
    font-weight: bold;
    font-size: 3em;
    line-height: 1em;
    padding: 0.3em 0;
}

.container_page3 h1 span {
    font-size: inherit;
    display: inline;
}

#stack-list, #theme-list li, ul#docs-list {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem;
}
.listado{
    position: relative;
    width: 100%;
}

.listado h5{
    line-height: 1.2;
}

.listado a{
    color: #5e8949;
    text-decoration: none;
    line-height: inherit;

}

.listado a:hover{
    color: blue;

}
/*******************pie**************************/
footer {
  text-decoration: none;
   color:  #888;
   background: #555555;
   padding: 1em 0;
   height: auto;
}
.social{
  float: left;
  margin-right: 1%;
}
.social ul li{
  color:  #888; 
  /*margin-right:10px;*/
  color: #7a7a7a;
  list-style: none;
  display:inline-block;
  box-sizing: border-box;
}
.lista{
  display: inline-block;
  text-decoration: none;
  position: relative;
}
.lista ul li{
  color:  #888; 
  margin-right:10px;
  color: #7a7a7a;
  list-style: none;
  display:inline-block;
  box-sizing: border-box;
}
.lista ul li a{
  text-decoration: none;
  color:  #888;
}
.lista ul li a img{
  position: absolute;
  top: 3px;
  left: 273px;
}
.social li div{
  text-decoration: none;
  color:  #888;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  background-image: url(../img/social-icons.png);
  background-repeat: no-repeat;
  background-position: 0 0;

}
.social div.twit {
    background-position: 0 0;
}
.social div.faceb{
    background-position: -25px 0;
}
.social div.googl{
    background-position: -50px 0;
}
.parte3{
  float: right;
 }