/* HEADER */
nav{
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #2a5d84;
 
}

.logo{
  
    float: left;
    font-size: 18px;
    padding-top: 5px;

}
.logo a{
  
    text-decoration: none;
    color:white;
    font-size: 18px;
}

.menu{    
  float: right;
}

.menu ul{
  margin-top: 8.125px;
  margin-bottom: 8.125px;
}
.menu ul li{
  display: inline;
  padding-left: 26px;
}

.menu ul li a {

font-size:13px;
text-decoration: none;
color: #fff;

}

.menu ul li a:hover {
background-color: #333333;
padding-top: 20px;
padding-bottom: 20px;




}

/*Estilo Index----------------*/
#cuerpo_index { 
  background: #fff;
  padding-bottom: 2em;
  width: 960px;
  margin: 0 auto;
}	

#cuerpo_index h2{ 
 font-size: 40px;
} 

.logo_cuerpo {
  height: 180px;
  background: #efeee5;
  padding-top:10px;
  margin-bottom: 2em;

  
  }


.logo_cuerpo h1 {
    font-weight: bold;
    font-size: 50px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
  

}

.logo_cuerpo h1 span {
    font-weight: normal;
    font-size: 1em;
    display: inline-block;
  
}
   
.logo_cuerpo h1 img {
	  height: 1em;
    margin-right: 0.3em;
   
}

.enlace_index a{
	text-decoration: none;
	color: green;
}


/*-----Pagina01-----*/
.coloretear{
  background-color: #efeee5;
  padding-top: 20px;
}
.coloretear p{
  font-size: 16px;
  
}

.coloretear a{
  text-decoration: none;
  color: #5e8949;
}

.mismolol{
  background-color: #fffacd;
  border:1px solid #ff6347;
  margin-bottom: 2%;
  padding: 0.7%;
}

/*-----Pagina02-----*/

.primerofaq{
  width: 100%;
  height: auto;
  background-color: #efeee5;
  font-size: 3em;
  margin-bottom: 1.5%;
}
.primerofaq h1{
  padding: 2% 0;
}
.segundofaq h3{
  font-size: 1.4em;
  font-weight: bold;
}
.segundofaq h5{
  font-size: 1em;
  font-weight: bold;
}
.segundofaq p{
  font-size: 1em;
}

/*****PAGINA 3*******/



#cuerpo_pagina3 {
    background: #fff;
    padding-bottom: 2em;
}

.container_page3 {
    background: #efeee5;
    padding: 1em 0;
    margin-bottom: 2em;
}

.container_page3 h1 {
    font-weight: bold;
    font-size: 5  0px;
    line-height: 1em;
    padding: 0.3em 0;
}

.container_page3 h1 span {
    font-size: inherit;
    display: inline;
    font-weight: normal;
}

#stack-list, #theme-list li, ul#docs-list {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem;
}
.listado{
    position: relative;
    width: 100%;
}

.listado h5{
    line-height: 0.8;
    font-size: 18px;
}

.listado a{
    color: #5e8949;
    text-decoration: none;
    line-height: inherit;

}

.listado a:hover{
    color: blue;

}
/*******************pie**************************/

footer {
  text-decoration: none;
   color:  #888;
   background: #555555;
   padding: 1em 0;
   height: auto;
}
.social{
  float: left;
  margin-right: 1%;
}
.social ul li{
  color:  #888; 
  /*margin-right:10px;*/
  color: #7a7a7a;
  list-style: none;
  display:inline-block;
  box-sizing: border-box;
}
.lista{
  display: inline-block;
  text-decoration: none;
  position: relative;
}
.lista ul li{
  color:  #888; 
  margin-right:10px;
  color: #7a7a7a;
  list-style: none;
  display:inline-block;
  box-sizing: border-box;
}
.lista ul li a{
  text-decoration: none;
  color:  #888;
}
.lista ul li a img{
  position: absolute;
  top: 3px;
  left: 273px;
}
.social li div{
  text-decoration: none;
  color:  #888;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  background-image: url(../img/social-icons.png);
  background-repeat: no-repeat;
  background-position: 0 0;

}
.social div.twit {
    background-position: 0 0;
}
.social div.faceb{
    background-position: -25px 0;
}
.social div.googl{
    background-position: -50px 0;
}
.parte3{
  float: right;
 }